@model IEnumerable<EGestora.GestoraControlAdm.Application.ViewModels.ContatoViewModel>

@{
    var Controller = @ViewData["_controller"].ToString();
    var PessoaId = ViewBag.PessoaId;
}


@if (Model != null)
{
    <div class="form-group">
        <a href="@Url.Action("AdicionarContato", "Pessoas", new { id = PessoaId })" data-modal="" class="btn btn-xs btn-success"><span title="Adicionar" class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InformacaoContato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescricaoContato)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.TipoContato.Nome.Contains("Email"))
                        {
                            <i class="fa fa-envelope" title="Email"></i>
                        }
                        else if (item.TipoContato.Nome.Contains("Skype"))
                        {
                            <i class="fa fa-skype" title="Skype"></i>
                        }
                        else if (item.TipoContato.Nome.Contains("Celular"))
                        {
                            <i class="fa fa-mobile-phone" title="Celular"></i>
                        }
                        else if (item.TipoContato.Nome.Contains("Telefone"))
                        {
                            <i class="fa fa-phone" title="Telefone"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InformacaoContato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescricaoContato)
                    </td>

                    <td>
                        <a href="@Url.Action("AtualizarContato", "Pessoas", new { id = item.ContatoId })" data-modal="" class="btn btn-xs btn-default"><span title="Editar" class="glyphicon glyphicon-pencil"></span></a>
                        <a href="@Url.Action("DeletarContato", "Pessoas", new { id = item.ContatoId })" data-modal="" class="btn btn-xs btn-danger"><span title="Remover" class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }

        </table>
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                Nenhum contato foi registrado.
            </th>
        </tr>
    </table>
}



