@model EGestora.GestoraControlAdm.Application.ViewModels.EmpresaViewModel

@{
    ViewBag.Title = "Detalhes de Empresa";
}

<div class="row">
    <div class="col-lg-12">

        <div class="container">
            <h2>Detalhes de Empresa</h2>

            <div class="row">
                <div class="">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title"> @Model.Nome </h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img src="@Url.Action("ObterImagemPessoa", "Pessoas", new { id = Model.PessoaId })" alt="@Model.Nome" class="img-circle img-responsive"> </div>
                                <div class="tab-content col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>

                                            @if (Model.Pessoa.IsPessoaJuridica)
                                            {
                                                @Html.Partial("_DetailsPessoaJuridica", Model.Pessoa.PessoaJuridica)
                                            }
                                            else
                                            {
                                                @Html.Partial("_DetailsPessoaFisica", Model.Pessoa.PessoaFisica)
                                            }

                                            <tr>
                                                <td>Alíquota</td>
                                                <td>@Html.DisplayFor(model => model.Aliquota)</td>
                                            </tr>

                                            <tr>
                                                <td>Optante Simples Nacional</td>
                                                <td>@Html.DisplayFor(model => model.OptanteSimplesNacional)</td>
                                            </tr>

                                            <tr>
                                                <td>Regime de Apuração</td>
                                                <td>@Html.DisplayFor(model => model.RegimeApuracao.Display)</td>
                                            </tr>

                                            <tr>
                                                <td>Regime de Tributação</td>
                                                <td>@Html.DisplayFor(model => model.RegimeTributacao.Display)</td>
                                            </tr>

                                            <tr>
                                                <td>Natureza da Operação</td>
                                                <td>@Html.DisplayFor(model => model.NaturezaOperacao.Display)</td>
                                            </tr>

                                            <tr>
                                                <td>Enquadramento de Serviço</td>
                                                <td>@Html.DisplayFor(model => model.EnquadramentoServico.Display)</td>
                                            </tr>

                                            <tr>
                                                <td>Login ISS</td>
                                                <td>@Html.DisplayFor(model => model.LoginIss)</td>
                                            </tr>

                                            <tr>
                                                <td>Senha ISS</td>
                                                <td>@Html.DisplayFor(model => model.SenhaIss)</td>
                                            </tr>

                                            <tr>
                                                <td>WebService de Homologacao</td>
                                                <td>@Html.DisplayFor(model => model.WebServiceHomologacao)</td>
                                            </tr>

                                            <tr>
                                                <td>WebService de Producao</td>
                                                <td>@Html.DisplayFor(model => model.WebServiceProducao)</td>
                                            </tr>

                                            <tr>
                                                <td>Data de Cadastro</td>
                                                <td>@Model.Pessoa.CriadoEm.ToString("d")</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="@Url.Action("Edit", "Empresas", new {id = Model.EmpresaId })" class="btn btn-primary">
                                <span title="Editar" class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="@Url.Action("Delete", "Empresas", new { id = Model.PessoaId })" class="btn btn-danger">
                                <span title="Excluir" class="glyphicon glyphicon-trash"></span>
                            </a>
                            @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/pessoaAjaxModal.js"></script>
}