@model EGestora.GestoraControlAdm.Application.ViewModels.LoteFaturamentoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LoteFaturamentoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFechamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFechamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoteFaturamentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
