@model IEnumerable<EGestora.GestoraControlAdm.Application.ViewModels.ProprietarioViewModel>

@if (Model.Any())
{
    <div class="tab-pane fade" id="pfProprietarioList">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th></th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Apelido
                    </th>
                    <th>
                        Cpf
                    </th>
                    <th>
                        Cargo
                    </th>
                    <th>
                        Nascimento
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="@Url.Action("ObterImagemPessoa", "Pessoas", new { id = item.PessoaId })" alt="@item.Pessoa.PessoaFisica.Nome" class="img-circle" height="34" width="34" /></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pessoa.PessoaFisica.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pessoa.PessoaFisica.Apelido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pessoa.PessoaFisica.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PorcentagemParticipacao)
                        </td>
                        <td>
                            @item.Pessoa.PessoaFisica.Nascimento.ToString("d")
                        </td>
                        <td>
                            <a href="@Url.Action("AtualizarProprietario", "Pessoas", new { id = item.ProprietarioId })" data-modal="" class="btn btn-default btn-circle">
                                <span title="Editar" class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="@Url.Action("DetalhesProprietario", "Pessoas", new { id = item.ProprietarioId })" data-modal="" class="btn btn-default btn-circle">
                                <span title="Detalhes" class="glyphicon glyphicon-search"></span>
                            </a>
                            <a href="@Url.Action("RemoverProprietario", "Pessoas", new { id = item.ProprietarioId })" data-modal="" class="btn btn-danger btn-circle">
                                <span title="Excluir" class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    <div class="tab-pane fade" id="pfProprietarioList">
        <table class="table">
            <tr>
                <th>
                    Nenhum Proprietário Cadastrado.
                </th>
            </tr>
        </table>
    </div>
}