@model EGestora.GestoraControlAdm.Application.ViewModels.DebitoViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Tem certeza que deseja dar baixa neste Débito?</h4>
</div>

<div class="modal-body">
    <div class="form-horizontal">
        @using (Html.BeginForm())
        {
            

            @Html.AntiForgeryToken()
            @Html.HiddenFor(d => d.DebitoId)
            @Html.HiddenFor(d => d.Detalhes)
            @Html.HiddenFor(d => d.ValorLiquido)
            @Html.HiddenFor(d => d.Parcelas)
            @Html.HiddenFor(d => d.Vencimento)
            @Html.HiddenFor(d => d.ClienteId)
            @Html.HiddenFor(d => d.CriadoEm)
            @Html.HiddenFor(d => d.AlteradoEm)
            
            @Html.Partial("_DadosDebito")

            <div class="modal-footer">
                <input class="btn btn-danger" type="submit" value="Sim" />
                <input type="button" class="btn btn-success" data-dismiss="modal" value="Não" />
            </div>
        }
    </div>
</div>