@model IEnumerable<EGestora.GestoraControlAdm.Application.ViewModels.BoletoViewModel>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Lista de Boletos</h4>
</div>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CriadoEm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vencimento)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CriadoEm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @item.Vencimento.ToString("d")
                    </td>
                    <td>
                        <a href="#" class="btn btn-default btn-circle" onclick="popup('@Url.Action("BoletoHtml", "Debitos", new { id = item.BoletoId })')">
                            <span title="Imprimir" class="glyphicon glyphicon-print"></span>
                        </a>
                        <a href="@Url.Action("", "", new { id = item.BoletoId })" data-modal="" class="btn btn-primary btn-circle">
                            <span title="Enviar por E-mail" class="glyphicon glyphicon-envelope"></span>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                Nenhum Boleto Encontrado.
            </th>
        </tr>
    </table>
}

<div class="modal-footer">
    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Fechar" />
</div>

<script>
    function popup(data)
    {
        window.open(data, "WindowPopup", 'width=668,height=780');
    }
</script>