@model IEnumerable<EGestora.GestoraControlAdm.Application.ViewModels.NotaServicoViewModel>

@{
    ViewBag.Title = "Lista de Notas de Serviço Eletrônica";
}

<div class="row">
    <div class="col-lg-12">

        <h2 class="page-header">Gestão de Notas de Serviço</h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                Lista de Notas de Serviço
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#finalizadaList" data-toggle="tab" aria-expanded="true">Notas Finalizadas</a></li>
                    <li class=""><a href="#naofinalizadaList" data-toggle="tab" aria-expanded="false">Notas Não Finalizadas</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active " id="finalizadaList">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Serie)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmpresaId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ClienteId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CodigoVerificacao)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ValorTotal)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ValorLiquido)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CriadoEm)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    if (item.NotaFinalizada)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Serie)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Empresa.Nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cliente.Nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CodigoVerificacao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorTotal)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorLiquido)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CriadoEm)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details", "NotaServicos", new { id = item.NotaServicoId })" class="btn btn-default"><span title="Detalhes" class="glyphicon glyphicon-search"></span></a>
                                                <a href="@Url.Action("Delete", "NotaServicos", new { id = item.NotaServicoId })" class="btn btn-danger"><span title="Excluir" class="glyphicon glyphicon-trash"></span></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="naofinalizadaList">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Serie)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmpresaId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ClienteId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CodigoVerificacao)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ValorTotal)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ValorLiquido)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CriadoEm)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    if (!item.NotaFinalizada)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Serie)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Empresa.Nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cliente.Nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CodigoVerificacao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorTotal)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorLiquido)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CriadoEm)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "NotaServicos", new {id = item.NotaServicoId})" class="btn btn-default"><span title="Editar" class="glyphicon glyphicon-pencil"></span></a>
                                                <a href="@Url.Action("Details", "NotaServicos", new { id = item.NotaServicoId })" class="btn btn-default"><span title="Detalhes" class="glyphicon glyphicon-search"></span></a>
                                                <a href="@Url.Action("Delete", "NotaServicos", new { id = item.NotaServicoId })" class="btn btn-danger"><span title="Excluir" class="glyphicon glyphicon-trash"></span></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="form-group">
                @Html.ActionLink("Nova Nota", "Create", "NotaServicos", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
