@model EGestora.GestoraControlAdm.Application.ViewModels.EnderecoViewModel

<link href="~/Content/titatoggle-master/dist/titatoggle-dist.css" rel="stylesheet" />

<div class="form-group">
    @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Tipo</label>
    <div class="col-lg-10">
        <div class="radio">
            <label>
                @Html.CheckBoxFor(m => m.Principal)
                Principal
            </label>
        </div>
        <div class="radio">
            <label>
                @Html.CheckBoxFor(m => m.Entrega)
                Entrega
            </label>
        </div>
        <div class="radio">
            <label>
                @Html.CheckBoxFor(m => m.Cobranca)
                Cobrança
            </label>
        </div>
    </div>
</div>



