@model EGestora.GestoraControlAdm.Application.ViewModels.PessoaJuridicaViewModel

<tr>
    <td>Nome Fantasia</td>
    <td>@Model.NomeFantasia</td>
</tr>

<tr>
    <td>CNPJ</td>
    <td>@Model.Cnpj</td>
</tr>

<tr>
    <td>Inscrição Municipal</td>
    <td>@Model.InscricaoMunicipal</td>
</tr>

<tr>
    <td>Inscrição Estadual</td>
    <td>@Model.InscricaoEstadual</td>
</tr>

<tr>
    <td>Data de Fundação</td>
    <td>@Model.DataFundacao.ToString("d")</td>
</tr>
