@model EGestora.GestoraControlAdm.Application.ViewModels.PessoaJuridicaViewModel

<li>
    <p class="text-muted">
        <i class="fa fa-list-alt"></i>&nbsp;&nbsp;<span class="txt-color-darken"><strong>CNPJ</strong> @Model.Cnpj</span>
    </p>
</li>
<li>
    <p class="text-muted">
        <i class="fa fa-list-alt"></i>&nbsp;&nbsp;<span class="txt-color-darken"><strong>Insc. Municipal</strong> @Model.InscricaoMunicipal </span>
    </p>
</li>
<li>
    <p class="text-muted">
        <i class="fa fa-list-alt"></i>&nbsp;&nbsp;<span class="txt-color-darken"><strong>Insc. Estadual</strong> @Model.InscricaoEstadual </span>
    </p>
</li>
<li>
    <p class="text-muted">
        <i class="fa fa-calendar"></i>&nbsp;&nbsp;
        <span class="txt-color-darken">
            Fundação
            <a href="javascript:void(0);" rel="tooltip" title="" data-placement="top" data-original-title="Create an Appointment">
                @Model.DataFundacao.ToString("d")
            </a>
        </span>
    </p>
</li>
<li>
    <p class="text-muted">
        <i class="fa fa-calendar"></i>&nbsp;&nbsp;
        <span class="txt-color-darken">
            Aniversário
            <a href="javascript:void(0);" rel="tooltip" title="" data-placement="top" data-original-title="Create an Appointment">
                @Model.DataAniversario.ToString("d")
            </a>
        </span>
    </p>
</li>