@model EGestora.GestoraControlAdm.Application.ViewModels.AuditControllerViewModel

@{
    ViewBag.Title = "Remover Auditoria";
}

<div class="row">
    <div class="col-lg-12">

        <div class="container">
            <h2>Remover Auditoria</h2>
            <h4>Tem certeza que deseja remover essa regra de auditoria?</h4>

            <div class="row">
                <div class="">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title"><strong>@Model.ControllerName </strong> </h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                               
                                <div class="tab-content col-md-9 col-lg-9 ">
                                    <div class="tab-pane fade in active " id="infoBasica">
                                        <h4>Regra criada em @Model.CriadoEm</h4>
                                            @if (Model.AuditActionList.Any())
                                            {
                                                <table class="table table-user-information">
                                                    <thead>
                                                        <tr>
                                                            <th>Nome da Ação</th>
                                                            <th>Adicionado Em</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var action in Model.AuditActionList)
                                                        {
                                                            <tr>
                                                                <td>@action.ActionName</td>
                                                                <td>@action.CriadoEm</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <p><strong>Nenhuma Ação foi registrada.</strong></p>
                                                <p>Todas as ações deste controller estão sendo auditadas.</p>
                                            }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <button type="submit" value="Delete" class="btn btn-danger" >
                                        <span title="Excluir" class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                                </div>
                            }                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>