@model EGestora.GestoraControlAdm.Application.ViewModels.PessoaJuridicaViewModel

<h3>Cnae Principal</h3>
<table class="table table-user-information">
    <tbody>
        <tr>
            <td>@Model.Cnae.Display</td>
            <td><a href="@Url.Action("AlterarCnaePrincipal", new { id = ViewBag.PessoaId })" class="btn btn-primary btn-circle" data-modal=""><span title="Alterar" class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
    </tbody>
</table>

<h3>Cnaes Secundários</h3>
<table class="table table-user-information">
    <tbody>
        @foreach (var cnae in Model.CnaeList)
        {
            <tr>
                <td>@cnae.Display</td>
                <td><a href="@Url.Action("DeletarCnae", new { id = cnae.CnaeId, pessoaId = ViewBag.PessoaId })" class="btn btn-danger btn-circle" data-modal=""><span title="Excluir" class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        }
        <tr>
            <td>
                <a href="@Url.Action("AdicionarCnae", new { id = ViewBag.PessoaId })" class="btn btn-success btn-circle" data-modal="">
                    <i title="Adicionar" class="fa fa-plus"></i>
                </a>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
