@model IEnumerable<EGestora.GestoraControlAdm.Application.ViewModels.CnaeViewModel>

@{
    var PessoaId = ViewBag.PessoaId;
}


@if (Model != null)
{
    <div class="form-group">
        <a href="@Url.Action("AdicionarCnae", "Pessoas", new { id = PessoaId })" data-modal="" class="btn btn-xs btn-success"><span title="Adicionar" class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th width="100px">
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>

                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        <a href="@Url.Action("DeletarCnae", "Pessoas", new { id = item.CnaeId, pessoaId = PessoaId })" data-modal="" class="btn btn-xs btn-danger"><span title="Remover" class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }

        </table>
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                Nenhum cnae foi registrado.
            </th>
        </tr>
    </table>
}