@model EGestora.GestoraControlAdm.Application.ViewModels.FornecedorEnderecoViewModel

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-lg-12">
        <div class="container">
            <h1 class="page-header">Cadastro de Fornecedores</h1>

            @using (Html.BeginForm("Create", "Fornecedores", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="panel panel-default" id="panelRadioGroup">
                        <div class="panel-heading">Tipo do Cadastro</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group" id="radioGroup">
                                        <label class="col-lg-2 control-label"></label>
                                        <div class="col-lg-10">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="FlagIsPessoaJuridica" id="fisica" value="false" checked="">
                                                    Pessoa Física
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="FlagIsPessoaJuridica" id="juridica" value="true">
                                                    Pessoa Jurídica
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="formPessoaJuridica">
                        <div class="panel panel-default">
                            <div class="panel-heading">Pessoa Jurídica</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        @Html.Partial("_CreatePessoaJuridica")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="formPessoaFisica">
                        <div class="panel panel-default">
                            <div class="panel-heading">Pessoa Física</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        @Html.Partial("_CreatePessoaFisica")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Fornecedor</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.Partial("_CreatePessoa")
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">Endereço</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.Partial("_Endereco")
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="submit" value="Cadastrar" class="btn btn-success" />
                            @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/radioButtonPfPj.js"></script>
    <script src="~/Scripts/bootstrap-filestyle.min.js"></script>
}