@model EGestora.GestoraControlAdm.Application.ViewModels.FornecedorViewModel

@{
    ViewBag.Title = "Detalhes de Fornecedor";

    var Titulo = Model.IsPessoaFisica ? Model.PessoaFisica.Nome : Model.PessoaJuridica.RazaoSocial;
}

<div class="row">
    <div class="col-lg-12">

        <div class="container">
            <h2>Detalhes de Fornecedor</h2>

            <div class="row">
                <div class="">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title"> @Titulo </h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img src="@Url.Action("ObterImagemFornecedor", "Fornecedores", new { id = Model.PessoaId })" alt="@Titulo" class="img-circle img-responsive"> </div>

                                <ul class="nav nav-tabs col-md-9 col-lg-9 ">
                                    <li class="active"><a href="#infoBasica" data-toggle="tab" aria-expanded="true">Informações Básicas</a></li>
                                    <li class=""><a href="#enderecos" data-toggle="tab" aria-expanded="false">Enderços</a></li>
                                    <li class=""><a href="#anexos" data-toggle="tab" aria-expanded="false">Anexos</a></li>
                                </ul>
                                <div class="tab-content col-md-9 col-lg-9 ">
                                    <div class="tab-pane fade in active " id="infoBasica">
                                        <div class="">
                                            <table class="table table-user-information">
                                                <tbody>

                                                    @if (Model.IsPessoaJuridica)
                                                    {
                                                        @Html.Partial("_DetailsPessoaJuridica", Model.PessoaJuridica)
                                                    }
                                                    else
                                                    {
                                                        @Html.Partial("_DetailsPessoaFisica", Model.PessoaFisica)
                                                    }

                                                    <tr>
                                                        <td>E-mail:</td>
                                                        <td><a href="mailto:@Model.Email">@Model.Email</a></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Ativo</td>
                                                        <td>@Html.CheckBoxFor(model => model.Ativo, new { disabled = "" })</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Data de Cadastro</td>
                                                        <td>@Model.CriadoEm.ToString("d")</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in" id="enderecos">
                                        <div id="replacetarget">
                                            @Html.Partial("_EnderecoList", Model.EnderecoList, new ViewDataDictionary { { "_controller", "Fornecedores" }, { "PessoaId", Model.PessoaId.ToString() } })
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in" id="anexos">
                                        <div id="replacetargetAnexo">
                                            @Html.Partial("_AnexoList", Model.AnexoList, new ViewDataDictionary { { "_controller", "Fornecedores" }, { "PessoaId", Model.PessoaId } })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="@Url.Action("Edit", "Fornecedores", new {id = Model.PessoaId})" class="btn btn-primary">
                                <span title="Editar" class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="@Url.Action("Delete", "Fornecedores", new { id = Model.PessoaId })" class="btn btn-danger">
                                <span title="Excluir" class="glyphicon glyphicon-trash"></span>
                            </a>
                            @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/pessoaAjaxModal.js"></script>
}