@model IEnumerable<EGestora.GestoraControlAdm.Application.ViewModels.FuncionarioViewModel>


<div class="form-group">
    <a href="@Url.Action("AdicionarFuncionario", "Pessoas", new {  })" data-modal="" class="btn btn-xs btn-success"><span title="Adicionar" class="glyphicon glyphicon-plus"></span></a>
</div>
@foreach (var item in Model)
{
    <div class="user" title="">
        <img src="@Url.Action("ObterImagemPessoa", "Pessoas", new { id = item.PessoaId })" alt="demo user">
        <a href="javascript:void(0);">
            @(item.Pessoa.PessoaFisica == null ? item.Pessoa.PessoaJuridica.RazaoSocial : item.Pessoa.PessoaFisica.Nome)
        </a>
        <a href="@Url.Action("EditarFuncionario", "Pessoas", new {  })" data-modal="" class="txt-color-grayDark"><span title="Adicionar" class="glyphicon glyphicon-pencil"></span></a>
        @if (item.Pessoa.ContatoList.Any(c => c.TipoContato.Nome == "Email"))
        {
            <div class="email">
                @item.Pessoa.ContatoList.FirstOrDefault(c => c.TipoContato.Nome == "Email").InformacaoContato
            </div>
        }
        else
        {
            <div class="email">
                @item.Pessoa.ContatoList.FirstOrDefault().InformacaoContato
            </div>
        }

    </div>
}



