@model EGestora.GestoraControlAdm.Application.ViewModels.DebitoViewModel

<div class="row">
    <div class="col-lg-12">

        <div class="container">
            <h2>Baixar Débito</h2>
            <h3>Você tem certeza que deseja dar baixa neste débito?</h3>
            <div class="row">
                <div class="">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">@Model.Cliente.PessoaJuridica.RazaoSocial</h4>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                           
                          
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 col-lg-3 " align="center"> <img src="@Url.Action("ObterImagemCliente", "Clientes", new { id = Model.ClienteId })" alt="" class="img-circle img-responsive"> </div>

                                    <div class=" col-md-9 col-lg-9 ">
                                        <table class="table table-user-information">
                                            <tbody>

                                                <tr>
                                                    <td>Detalhes</td>
                                                    <td>@Model.Detalhes</td>
                                                </tr>

                                                <tr>
                                                    <td>Valor</td>
                                                    <td>@Model.ValorLiquido</td>
                                                </tr>

                                                <tr>
                                                    <td><strong>Data do Pagamento</strong></td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="DataBaixa" name="DataBaixa" required class="form-control" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="form-actions no-color">
                                    <input class="btn btn-success" type="submit" value="Sim" />
                                    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>