@model IEnumerable<EGestora.GestoraControlAdm.Application.ViewModels.DebitoViewModel>

@{
    ViewBag.Title = "Lista de Débitos";
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">

<div class="row">
    <div class="col-lg-12">

        <h2 class="page-header">Gestão de Débitos</h2>

        <div>
            <div class="form-group">
                @Html.ActionLink("Novo Débito", "Create", "Debitos", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista de Débitos
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#abertos" data-toggle="tab" aria-expanded="true">Em Aberto</a></li>
                    <li class=""><a href="#baixados" data-toggle="tab" aria-expanded="false">Baixados</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="abertos">
                        <div class="table-responsive">
                            <table id="debitoListAbertos" class="stripe hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ClienteId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ValorLiquido)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ValorPago)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Detalhes)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Parcelas)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Vencimento)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PagoEm)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(d => d.PagoEm == null))
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cliente.PessoaJuridica.RazaoSocial)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorLiquido)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorPago)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Detalhes)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Parcelas)
                                            </td>
                                            <td>
                                                @item.Vencimento.ToString("d")
                                            </td>
                                            <td>
                                                @if (item.PagoEm.HasValue)
                                                {
                                                    @item.PagoEm.Value.ToString("d")
                                                }
                                            </td>
                                            <td>
                                                @if (item.PagoEm == null)
                                                {
                                                    <a href="@Url.Action("Baixar", "Debitos", new {id = item.DebitoId})" class="btn btn-default"><span title="Dar baixa" class="fa fa-arrow-down"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#" class="btn btn-success disabled"><span title="Pago" class="fa fa-check"></span></a>
                                                }
                                                <a href="@Url.Action("Edit", "Debitos", new {id = item.DebitoId})" class="btn btn-default"><span title="Editar" class="glyphicon glyphicon-pencil"></span></a>
                                                <a href="@Url.Action("Details", "Debitos", new { id = item.DebitoId })" class="btn btn-default"><span title="Detalhes" class="glyphicon glyphicon-search"></span></a>
                                                <a href="@Url.Action("Delete", "Debitos", new { id = item.DebitoId })" class="btn btn-danger"><span title="Excluir" class="glyphicon glyphicon-trash"></span></a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="baixados">
                        <div class="table-responsive">
                            <table id="debitoListBaixados" class="stripe hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ClienteId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ValorLiquido)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ValorPago)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Detalhes)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Parcelas)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Vencimento)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PagoEm)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(d => d.PagoEm != null))
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cliente.PessoaJuridica.RazaoSocial)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorLiquido)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorPago)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Detalhes)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Parcelas)
                                            </td>
                                            <td>
                                                @item.Vencimento.ToString("d")
                                            </td>
                                            <td>
                                                @if (item.PagoEm.HasValue)
                                                {
                                                    @item.PagoEm.Value.ToString("d")
                                                }
                                            </td>
                                            <td>
                                                @if (item.PagoEm == null)
                                                {
                                                    <a href="@Url.Action("Baixar", "Debitos", new {id = item.DebitoId})" class="btn btn-default"><span title="Dar baixa" class="fa fa-arrow-down"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#" class="btn btn-success disabled"><span title="Pago" class="fa fa-check"></span></a>
                                                }
                                                <a href="@Url.Action("Details", "Debitos", new { id = item.DebitoId })" class="btn btn-default"><span title="Detalhes" class="glyphicon glyphicon-search"></span></a>
                                                <a href="@Url.Action("Delete", "Debitos", new { id = item.DebitoId })" class="btn btn-danger"><span title="Excluir" class="glyphicon glyphicon-trash"></span></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#debitoListAbertos').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Nenhum registro encontrado - desculpe",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrado de _MAX_ total de registros)",
                    "search": "Busca:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });

            $('#debitoListBaixados').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Nenhum registro encontrado - desculpe",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrado de _MAX_ total de registros)",
                    "search": "Busca:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}