@model EGestora.GestoraControlAdm.Application.ViewModels.PessoaViewModel

@{
    ViewBag.Title = "Remover Pessoa";

    var Titulo = Model.IsPessoaFisica ? Model.PessoaFisica.Nome : Model.PessoaJuridica.RazaoSocial;
}

<div class="row">
    <div class="col-lg-12">

        <div class="container">
            <h2>Remover Pessoa</h2>
            <h3>Você tem certeza que deseja realizar esta ação?</h3>
            <div class="row">
                <div class="">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">@Titulo</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img src="@Url.Action("ObterImagemPessoa", new { id = Model.PessoaId })" alt="@Titulo" class="img-circle img-responsive"> </div>

                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>

                                            @if (Model.IsPessoaJuridica)
                                            {
                                                @Html.Partial("_DetailsPessoaJuridica", Model.PessoaJuridica)
                                            } else {
                                                @Html.Partial("_DetailsPessoaFisica", Model.PessoaFisica)
                                            }

                                            <tr>
                                                <td>E-mail:</td>
                                                <td><a href="mailto:@Model.Email">@Model.Email</a></td>
                                            </tr>

                                            <tr>
                                                <td>Ativo</td>
                                                <td>
                                                    @if (Model.Ativo)
                                                    {
                                                        <div class="text-success"><strong>Sim</strong></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="text-danger"><strong>Não</strong></div>
                                                    }
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Data de Cadastro</td>
                                                <td>@Model.CriadoEm.ToString("d")</td>
                                            </tr>

                                            <tr>
                                                <td>Observação</td>
                                                <td>@Model.Observacao</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <button value="Delete" class="btn btn-danger" data-modal="" >
                                        <span title="Excluir" class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>