@model EGestora.GestoraControlAdm.Application.ViewModels.PessoaViewModel

@{
    ViewBag.PageHeader = "Detalhes";
    ViewBag.SubTitle = "Pessoa";

    var nome = "";
    var nome2 = "";
    if (Model.IsPessoaFisica)
    {
        nome = Model.PessoaFisica.Nome;
        nome2 = Model.PessoaFisica.Apelido;
    }
    else
    {
        nome = Model.PessoaJuridica.RazaoSocial;
        nome2 = Model.PessoaJuridica.NomeFantasia;
    }
    
}
@Html.Partial("PageHeader")
<div class="row">

    <div class="col-sm-12">


        <div class="well well-sm">

            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="well well-light well-sm no-margin no-padding">

                        <div class="row">

                            <div class="col-sm-10">

                                <div class="row">
                                    <br /><br />
                                    <div class="col-sm-3 profile-pic">
                                        <img id="imagemPessoa" src="@Url.Action("ObterImagemPessoa", "Pessoas", new { id = Model.PessoaId })" alt="demo user" class="img-circle img-responsive">
                                        <div class="padding-10">
                                            <h4 class="font-md">
                                                <strong>@Model.CriadoEm.ToString("d")</strong>
                                                <br>
                                                <small>Data de Criação</small>
                                            </h4>
  
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h1>
                                             @nome
                                            <br>
                                            <small> @nome2</small>
                                        </h1>

                                        <ul class="list-unstyled">
                                            @if (Model.IsPessoaJuridica)
                                            {
                                                @Html.Partial("_DetailsPessoaJuridica", Model.PessoaJuridica)
                                            }
                                            else
                                            {
                                                @Html.Partial("_DetailsPessoaFisica", Model.PessoaFisica)
                                            }
                                            <li>
                                                <p class="text-muted">
                                                    <i class="fa fa-phone"></i>&nbsp;&nbsp;
                                                    <span class="txt-color-darken">
                                                        @(Model.ContatoList.Any() ? Model.ContatoList.FirstOrDefault().InformacaoContato : "")
                                                    </span> 
                                                    <a class="" href="@Url.Action("ListaSimplesContato", "Pessoas", new { id = Model.PessoaId })" data-modal="">&nbsp; <span class="label label-default"> ver todos...</span></a>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                   <i class="fa fa-home"></i>&nbsp;&nbsp;
                                                    <span id="spanEnderecoPrincipal" class="txt-color-darken">
                                                        @(Model.EnderecoList.Any(e => e.Principal) ? @Model.EnderecoList.FirstOrDefault(e => e.Principal).EnderecoCompleto : "")
                                                    </span>
                                                    <a class="" href="@Url.Action("ListaSimplesEndereco", "Pessoas", new { id = Model.PessoaId })" data-toggle="modal" data-target="#ModalEndereco">&nbsp;&nbsp;<span class="label label-default">ver todos...</span></a>
                                                </p>
                                            </li>
                                        </ul>
                                        <br>
                                        <p class="font-md">
                                            <i>Observação</i>
                                        </p>
                                        <p>
                                            @Model.Observacao
                                        </p>
                                        @*<br>
                                        <a href="javascript:void(0);" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> Send Message</a>
                                        <br>
                                        <br>*@

                                    </div>
                                    <div class="col-sm-3">
                                        <h1><span><small>Anexos</small></span>&nbsp;<a href="@Url.Action("AdicionarAnexo", "Pessoas", new { id = Model.PessoaId })" data-modal="" class="btn btn-default btn-xs"><i class="fa fa-upload"></i></a></h1>
                                        <div id="replacetargetAnexo">
                                            @Html.Partial("_AnexoList", Model.AnexoList)
                                        </div>
                                        @if (Model.PessoaJuridica != null)
                                        { 
                                            <h1><small>Cnae Principal</small></h1>
                                            <ul class="list-inline friends-list">
                                                <li>
                                                    @Model.PessoaJuridica.Cnae.Display
                                                </li>
                                            </ul>
                                        }

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-12">

                                <hr>

                                <div class="padding-10">

                                    <ul class="nav nav-tabs">
                                        @if (Model.PessoaJuridica != null)
                                        { 
                                            <li class="active">
                                                <a href="#funcionarios" data-toggle="tab">Funcionários<span class="badge bg-color-blue txt-color-white">@*@Model.PessoaJuridica.FuncionarioList.Count*@</span></a>
                                            </li>
                                            <li>
                                                <a href="#proprietarios" data-toggle="tab">Proprietários<span class="badge bg-color-blue txt-color-white">@*@Model.PessoaJuridica.FuncionarioList.Count*@</span></a>
                                            </li>
                                            <li>
                                                <a href="#cnaes" data-toggle="tab">Cnaes<span class="badge bg-color-blue txt-color-white">@*@Model.PessoaJuridica.FuncionarioList.Count*@</span></a>
                                            </li>
                                        }
                                        <li>
                                            <a href="#enderecos" data-toggle="tab">Endereços</a>
                                        </li>
                                        <li>
                                            <a href="#contatos" data-toggle="tab">Contatos</a>
                                        </li>
                                        
                                    </ul>

                                    <div class="tab-content padding-top-10">
                                        @if (Model.PessoaJuridica != null)
                                        { 
                                            <div class="tab-pane fade in active" id="funcionarios">
                                                <div id="replacetargetFuncionarios">
                                                    @Html.Partial("_FuncionarioList", Model.PessoaJuridica.FuncionarioList, new ViewDataDictionary { { "PessoaId", Model.PessoaId.ToString() } })
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="proprietarios">
                                                <div id="replacetargetProprietarios">
                                                    @Html.Partial("_ProprietarioList", Model.PessoaJuridica.ProprietarioList, new ViewDataDictionary { { "PessoaId", Model.PessoaId.ToString() } })
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="cnaes">
                                                <div id="replacetargetCnae">
                                                    @Html.Partial("_CnaeList", Model.PessoaJuridica.CnaeList, new ViewDataDictionary { { "PessoaId", Model.PessoaId.ToString() } })
                                                </div>
                                            </div>
                                        }
                                        <div class="tab-pane fade" id="enderecos">

                                            <div class="row">

                                                <div id="replacetarget" class="col-md-12">
                                                    @Html.Partial("_EnderecoList", Model.EnderecoList, new ViewDataDictionary { { "_controller", "Pessoas" }, { "PessoaId", Model.PessoaId.ToString() } })
                                                </div>

                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="contatos">

                                            <div class="row">

                                                <div id="replacetargetContato" class="col-md-12">
                                                    @Html.Partial("_ContatoList", Model.ContatoList, new ViewDataDictionary { { "_controller", "Pessoas" }, { "PessoaId", Model.PessoaId.ToString() } })
                                                </div>

                                            </div>

                                        </div>
                                        <!-- end tab -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalEndereco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/Scripts/pessoaAjaxModal.js"></script>
}