@model EGestora.GestoraControlAdm.Application.ViewModels.PessoaViewModel

@{
    ViewBag.PageHeader = "Detalhes";
    ViewBag.SubTitle = "Pessoa";

    var nome = "";
    var nome2 = "";
    if (Model.IsPessoaFisica)
    {
        nome = Model.PessoaFisica.Nome;
        nome2 = Model.PessoaFisica.Apelido;
    }
    else
    {
        nome = Model.PessoaJuridica.RazaoSocial;
        nome2 = Model.PessoaJuridica.NomeFantasia;
    }
    
}
@Html.Partial("PageHeader")
<div class="row">

    <div class="col-sm-12">


        <div class="well well-sm">

            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="well well-light well-sm no-margin no-padding">

                        <div class="row">

                            <div class="col-sm-10">

                                <div class="row">
                                    <br /><br />
                                    <div class="col-sm-3 profile-pic">
                                        <img id="imagemPessoa" src="@Url.Action("ObterImagemPessoa", "Pessoas", new { id = Model.PessoaId })" alt="demo user" class="img-circle img-responsive">
                                        <div class="padding-10">
                                            <h4 class="font-md">
                                                <strong>@Model.CriadoEm.ToString("d")</strong>
                                                <br>
                                                <small>Data de Criação</small>
                                            </h4>
  
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h1>
                                             @nome
                                            <br>
                                            <small> @nome2</small>
                                        </h1>

                                        <ul class="list-unstyled">
                                            @if (Model.IsPessoaJuridica)
                                            {
                                                @Html.Partial("_DetailsPessoaJuridica", Model.PessoaJuridica)
                                            }
                                            else
                                            {
                                                @Html.Partial("_DetailsPessoaFisica", Model.PessoaFisica)
                                            }
                                            @*<li>
                                                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                                    Launch demo modal
                                                </button>
                                            </li>*@
                                            <li>
                                                <p class="text-muted">
                                                    <a class="txt-color-grayDark" href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-phone"></i>&nbsp;&nbsp;(<span class="txt-color-darken">313</span>) <span class="txt-color-darken">464</span> - <span class="txt-color-darken">6473</span></a>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                   <i class="fa fa-home"></i>&nbsp;&nbsp;<span class="txt-color-darken">@(Model.EnderecoList.Any(e => e.Principal) ? @Model.EnderecoList.FirstOrDefault(e => e.Principal).EnderecoCompleto : "")</span><a class="txt-color-grayDark" href="#" data-toggle="modal" data-target="#ModalEndereco">&nbsp;&nbsp;| ver mais...</a>
                                                </p>
                                            </li>
                                            @*<li>
                                                <p class="text-muted">
                                                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:simmons@smartadmin">ceo@smartadmin.com</a>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                    <i class="fa fa-skype"></i>&nbsp;&nbsp;<span class="txt-color-darken">john12</span>
                                                </p>
                                            </li>*@
                                        </ul>
                                        <br>
                                        <p class="font-md">
                                            <i>Observação</i>
                                        </p>
                                        <p>
                                            @Model.Observacao
                                        </p>
                                        <br>
                                        <a href="javascript:void(0);" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> Send Message</a>
                                        <br>
                                        <br>

                                    </div>
                                    <div class="col-sm-3">
                                        <h1><small>Anexos</small></h1>
                                        <ul class="list-inline friends-list">
                                            <li>
                                                arquivo 1
                                            </li>
                                        </ul>

                                        <h1><small>Recent visitors</small></h1>
                                        <ul class="list-inline friends-list">
                                            <li>
                                                teste
                                            </li>
                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-12">

                                <hr>

                                <div class="padding-10">

                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#a1" data-toggle="tab">Recent Articles</a>
                                        </li>
                                        <li>
                                            <a href="#funcionarios" data-toggle="tab">Funcionários<span class="badge bg-color-blue txt-color-white">@*@Model.PessoaJuridica.FuncionarioList.Count*@</span></a>
                                        </li>
                                    </ul>

                                    <div class="tab-content padding-top-10">
                                        <div class="tab-pane fade in active" id="a1">

                                            <div class="row">

                                                <div class="col-xs-2 col-sm-1">
                                                    <time datetime="2014-09-20" class="icon">
                                                        <strong>Jan</strong>
                                                        <span>10</span>
                                                    </time>
                                                </div>

                                                <div class="col-xs-10 col-sm-11">
                                                    <h6 class="no-margin"><a href="javascript:void(0);">Allice in Wonderland</a></h6>
                                                    <p>
                                                        Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi Nam eget dui.
                                                        Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
                                                        sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.
                                                    </p>
                                                </div>

                                                <div class="col-sm-12">

                                                    <hr>

                                                </div>

                                                <div class="col-xs-2 col-sm-1">
                                                    <time datetime="2014-09-20" class="icon">
                                                        <strong>Jan</strong>
                                                        <span>10</span>
                                                    </time>
                                                </div>

                                                <div class="col-xs-10 col-sm-11">
                                                    <h6 class="no-margin"><a href="javascript:void(0);">World Report</a></h6>
                                                    <p>
                                                        Morning our be dry. Life also third land after first beginning to evening cattle created let subdue you'll winged don't Face firmament.
                                                        You winged you're was Fruit divided signs lights i living cattle yielding over light life life sea, so deep.
                                                        Abundantly given years bring were after. Greater you're meat beast creeping behold he unto She'd doesn't. Replenish brought kind gathering Meat.
                                                    </p>
                                                </div>

                                                <div class="col-sm-12">

                                                    <br>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="funcionarios">

                                            <div class="alert alert-info fade in">
                                                <button class="close" data-dismiss="alert">
                                                    ×
                                                </button>
                                                <i class="fa-fw fa fa-info"></i>
                                                <strong>51 new members </strong>joined today!
                                            </div>

                                            <div class="user" title="email@company.com">
                                                <img src="~/Content/img/avatars/female.png" alt="demo user"><a href="javascript:void(0);">Jenn Wilson</a>
                                                <div class="email">
                                                    travis@company.com
                                                </div>
                                            </div>
                                            <div class="user" title="email@company.com">
                                                <img src="~/Content/img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Marshall Hitt</a>
                                                <div class="email">
                                                    marshall@company.com
                                                </div>
                                            </div>
                                            <div class="user" title="email@company.com">
                                                <img src="~/Content/img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Joe Cadena</a>
                                                <div class="email">
                                                    joe@company.com
                                                </div>
                                            </div>
                                            <div class="user" title="email@company.com">
                                                <img src="~/Content/img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Mike McBride</a>
                                                <div class="email">
                                                    mike@company.com
                                                </div>
                                            </div>
                                            <div class="user" title="email@company.com">
                                                <img src="~/Content/img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Travis Wilson</a>
                                                <div class="email">
                                                    travis@company.com
                                                </div>
                                            </div>
                                            <div class="user" title="email@company.com">
                                                <img src="~/Content/img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Marshall Hitt</a>
                                                <div class="email">
                                                    marshall@company.com
                                                </div>
                                            </div>
                                            <div class="user" title="Joe Cadena joe@company.com">
                                                <img src="~/Content/img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Joe Cadena</a>
                                                <div class="email">
                                                    joe@company.com
                                                </div>
                                            </div>
                                            <div class="user" title="email@company.com">
                                                <img src="~/Content/img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Mike McBride</a>
                                                <div class="email">
                                                    mike@company.com
                                                </div>
                                            </div>
                                            <div class="user" title="email@company.com">
                                                <img src="~/Content/img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Marshall Hitt</a>
                                                <div class="email">
                                                    marshall@company.com
                                                </div>
                                            </div>
                                            <div class="user" title="email@company.com">
                                                <img src="~/Content/img/avatars/male.png" alt="demo user"><a href="javascript:void(0);">Joe Cadena</a>
                                                <div class="email">
                                                    joe@company.com
                                                </div>
                                            </div>
                                            <div class="user" title="email@company.com">
                                                <img src="~/Content/img/avatars/male.png" alt="demo user"><a href="javascript:void(0);"> Mike McBride</a>
                                                <div class="email">
                                                    mike@company.com
                                                </div>
                                            </div>

                                            <div class="text-center">
                                                <ul class="pagination pagination-sm">
                                                    <li class="disabled">
                                                        <a href="javascript:void(0);">Prev</a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="javascript:void(0);">1</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">2</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">3</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">...</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">99</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- end tab -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Contatos</h4>
            </div>
            <div class="modal-body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tipo do Contato</th>
                                <th>Informação do Contato</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ContatoList)
                            {
                                <tr>
                                    <td><i class="fa fa-mobile-phone"></i></td>
                                    <td>@item.TipoContato.Nome</td>
                                    <td>@item.InformacaoContato</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Fechar
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="ModalEndereco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Endereços</h4>
            </div>
            <div class="modal-body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Logradouro</th>
                                <th>Numero</th>
                                <th>Complemento</th>
                                <th>Bairro</th>
                                <th>Cidade</th>
                                <th>Estado</th>
                                <th>Cep</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.EnderecoList)
                            {
                                <tr>
                                    <td>@item.Descricao</td>
                                    <td>@item.Logradouro</td>
                                    <td>@item.Numero</td>
                                    <td>@item.Complemento</td>
                                    <td>@item.Bairro</td>
                                    <td>@item.Cidade</td>
                                    <td>@item.Estado</td>
                                    <td>@item.CEP</td>
                                    <td>
                                        @if (item.Principal)
                                        { 
                                            <span class="label label-primary">Principal</span>
                                        }
                                        @if (item.Entrega)
                                        {
                                            <span class="label label-info">Entrega</span>
                                        }
                                        @if (item.Cobranca)
                                        {
                                            <span class="label label-success">Cobrança</span>
                                        }
                                        @if (!item.Principal && !item.Entrega && !item.Cobranca)
                                        {
                                            <span class="label label-default">Comum</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Fechar
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->