@model EGestora.GestoraControlAdm.Application.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Delete";

    var Titulo = Model.Pessoa.IsPessoaFisica ? Model.Pessoa.PessoaFisica.Nome : Model.Pessoa.PessoaJuridica.RazaoSocial;
}

<div class="row">
    <div class="col-lg-12">

        <div class="container">
            <h2>Deletar Cliente</h2>
            <h3>Você tem certeza que deseja realizar esta ação?</h3>
            <div class="row">
                <div class="">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">@Titulo</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img src="@Url.Action("ObterImagemPessoa", "Pessoas", new { id = Model.PessoaId })" alt="@Titulo" class="img-circle img-responsive"> </div>

                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>

                                            @if (Model.Pessoa.IsPessoaJuridica)
                                            {
                                                @Html.Partial("_DetailsPessoaJuridica", Model.Pessoa.PessoaJuridica)
                                            } else {
                                                @Html.Partial("_DetailsPessoaFisica", Model.Pessoa.PessoaFisica)
                                            }

                                            <tr>
                                                <td>Cliente com nota?</td>
                                                <td>@Model.ComNota</td>
                                            </tr>

                                            <tr>
                                                <td>Vencimento do Boleto</td>
                                                <td>@Model.VencimentoBoleto.ToString("d")</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <button value="Delete" class="btn btn-danger" data-modal="" >
                                        <span title="Excluir" class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>