@model EGestora.GestoraControlAdm.Application.ViewModels.CodigoSegurancaViewModel

@{
    ViewBag.Title = "Gerar Código de Segurança";
    IEnumerable<EGestora.GestoraControlAdm.Application.ViewModels.ClienteViewModel> ClienteList = ViewBag.ClienteList;
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
<link href="~/Content/titatoggle-master/dist/titatoggle-dist.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <div class="container">
            <h1 class="page-header">Gerar Código de Segurança</h1>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="panel panel-default">
                        <div class="panel-heading">Datas para a Trava</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class = "control-label col-md-2"> Data Atual </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" value="@DateTime.Now" disabled/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DataTrava, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.DataTrava, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DataTrava, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Clientes</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table id="tabelaCliente" class="stripe hover row-border compact" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        Nome
                                                    </th>
                                                    <th>
                                                        Vencimento do Boleto
                                                    </th>
                                                    <th>
                                                        Valor Total dos Serviços
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ClienteList)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" id="gerar" name="gerar" value="@item.ClienteId" />
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Nome)
                                                        </td>
                                                        <td>
                                                            @item.VencimentoBoleto.ToString("d")
                                                        </td>
                                                        <td>
                                                            @item.ValorTotalServicos
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Configurações</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EnviarEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div class="checkbox checkbox-slider--a">
                                                <label>
                                                    <input type="checkbox" name="EnviarEmail" id="EnviarEmail" value="true"><span></span>
                                                </label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.EnviarEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="submit" value="Gerar" class="btn btn-success" />
                            @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabelaCliente').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Nenhum registro encontrado - desculpe",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrado de _MAX_ total de registros)",
                    "search": "Busca:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}