@model EGestora.GestoraControlAdm.Application.ViewModels.CodigoSegurancaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CodigoSegurancaViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAtual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAtual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataTrava)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataTrava)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodigoSegurancaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
