@model IEnumerable<EGestora.GestoraControlAdm.Application.ViewModels.CodigoSegurancaViewModel>

@{
    ViewBag.Title = "Lista de Códigos";
}

<div class="row">
    <div class="col-lg-12">

        <h2 class="page-header">Gestão de Códigos de Segurança</h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                Lista de Códigos de Segurança
            </div>
            <div class="panel-body">
                <div class="tab-pane" id="pjList">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ClienteId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Codigo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataAtual)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataTrava)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CriadoEm)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td><img src="@Url.Action("ObterImagemCliente", "Clientes", new { id = item.ClienteId })" alt="cliente" class="img-circle" height="34" width="34" /></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cliente.PessoaJuridica.RazaoSocial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td>
                                        @item.DataAtual.ToString("d")
                                    </td>
                                    <td>
                                        @item.DataTrava.ToString("d")
                                    </td>
                                    <td>
                                        @item.CriadoEm.ToString("dd/MM/yyyy HH:mm")
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "CodigoSegurancas", new { id = item.CodigoSegurancaId})" class="btn btn-default"><span title="Editar" class="glyphicon glyphicon-pencil"></span></a>
                                        <a href="@Url.Action("Details", "CodigoSegurancas", new { id = item.CodigoSegurancaId })" class="btn btn-default"><span title="Detalhes" class="glyphicon glyphicon-search"></span></a>
                                        <a href="@Url.Action("Delete", "CodigoSegurancas", new { id = item.CodigoSegurancaId })" class="btn btn-danger"><span title="Excluir" class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>

                            }

                        </table>

                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial("_Paginacao")
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            <div class="form-group">
                @Html.ActionLink("Novo Código", "Create", "CodigoSegurancas", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
